body{
    background-color: #1f1f1f;
}
.top-nav{
    display: block;
    max-width: 100%;
    background-color: hsla(0, 0%, 50%, 0);
    min-height: 20px;
    position: relative;
    width: 100%;
    z-index: 2;
}
.welcome-campaign-creation{
    text-align: center;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 6px;
    font-size: 23px;
    font-weight: 400;
}
.nav-center{
    float: left;
    width: 100%;
    position: absolute;
}
.top-nav .client{
    text-align: center;
    margin: auto;
    top: 0px;
    position: relative;
    background: rgba(226, 34, 100, 0.341);
    border: 1px solid rgba(226, 34, 100, 0.631);
    padding: 4px 0px 4px 0px;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    width: 200px;
    transition: all 0.5s ease;
}
.top-nav .client:hover{
    transform: scale(1.1);
    cursor: pointer;
    opacity: 0.7;
    color: #6c757d;
}
.top-nav .action-items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
    position: absolute;
    margin-left: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    color: #ec115d;  
    float: left;
}
.top-nav .action-items .themes{
    transition: all 0.4s ease;
    position: relative;
    font-size: 14px;
    background: #1f1f1f;
    padding: 1px 10px;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #EC115D;
}
.top-nav .action-items .themes .themeSelect{
    display: none;
    border: 1px solid #EC115D;
    margin-top: 7px;
    position: absolute;
    left: 0px;
    white-space: nowrap;
    list-style: none;
    line-height: 2em;
    background: #1f1f1f;
    border-radius: 4px;
    padding: 5px 20px;
    color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
}
.top-nav .action-items .themes:hover > .themeSelect{
    display: block;
}
.top-nav .action-items .notifications{
    position: relative;
}
  .top-nav .action-items .notifications .alert{
    position: absolute;
    color: #fff;
    right: 1px;
    top: 1px;
    font-size: 7px;
}
.top-nav .action-items div{
    transform: scale(1);
    transition: all 0.5s ease;
    padding: 10px;
    margin-right: 5px;
  }
.top-nav .action-items div:hover{
    transform: scale(1.1);
    cursor: pointer;
    opacity: 0.7;
    color: #6c757d;
}
.top-nav .action-items .profile img{
    border: 1px solid #EC115D;
    border-radius: 99em;
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: 50% 50%;
}
.top-nav .action-items .user_menu{
    position: absolute;
    margin-top: 10px;
    width: auto;
    right: 0;
    top: 70px;
    text-align: left;
    background: #1a1c25;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.141);
}
.top-nav .action-items .user_menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.5em;
}
.top-nav .action-items .user_menu ul a:hover{
    text-decoration: none;
}
.top-nav .action-items .user_menu ul li{
    white-space: nowrap;
    transition: color 0.4s ease;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}
.top-nav .action-items .user_menu ul li:hover{
    cursor: pointer;
    color: #FE6D03;
}
.top-nav .action-items .user_menu .mr-2{
    margin-right: 0.5em;
}
.top-nav .action-items .user_menu:hover{
    opacity: 1;
    transform: scale(1);
}
.genBtmBtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #FC814A;
    border-radius: 99em;
    transition: all 0.4s ease;
    transform: scale(1);
    bottom: 16px;
    right: 25px;
    color: #fff;
    z-index: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 7px;
}
.genBtmBtn:hover{
    cursor: pointer;
    opacity: 0.6;
    transform: scale(1.2);
}
.hamburger-menu{
    transition: left 1s ease-in-out;
    width: 50px;
    left: 300px;
    left: 25px;
    z-index: 1000;
    top: 20px;
    display: block;
    float: left;
    position: absolute;
    transition: all 0.5s ease;
}
.hamburger-menu:hover{
    cursor: pointer;
    transform: scale(1.1);
    cursor: pointer;
    opacity: 0.7;
    color: #6c757d;
}
#hamburger-9{
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hamburger .line{
    width: 33px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.25);
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.dash_modal{
    width: 100%;
    position: absolute;
    z-index: 3;
    display: none;
}
.modal-bg{
    background-color: #000000a3;
    transition: all 0.4s ease;
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.dash_modal .dash-body{
    min-width: 313px;
    width: 60%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    margin-top: 5%;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(45deg, #EC115D 0%, #FE6D03 100%);
    background-size: cover;
}
.dash_modal .dash-body:after{
    content: '';
    position: absolute;
    width: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: -1;
}
.dash_modal .dash-body .modal-header{
    margin: auto;
    width: 100%;
    text-align: center;
    border-bottom: none;
    padding-bottom: 0;
}
  .dash_modal .dash-body .modal-header h5{
    width: 100%;
    font-weight: 300;
    font-size: 2rem;
}
.dash_modal .dash-body .modal-body{
    padding-top: 0;
    text-align: center;
}
.dash_modal .dash-body .modal-body h3{
    font-weight: 300;
    font-size: 1.1rem;
}
.dash_modal .dash-body .choices{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 25px;
}
.dash_modal .dash-body .choices a{
    text-decoration: none;
    color: #fff;
    position: relative;
    width: 40%;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.4s ease;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 100%;
    min-width: 260px;
}
.dash_modal .dash-body .choices a:hover{
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
}
.dash_modal .dash-body .choices .choice{
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    max-width: 100%;
    min-width: 260px;
    width: 40%;
    padding: 15px;
    background: transparent;
    transition: all 0.4s ease;
}
.dash_modal .dash-body .choices .choice .dashboard-icons{
    font-size: 4rem;
}
.dash_modal .dash-body .choices .choice p{
    text-transform: capitalize;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
}
