*{
    margin: 0;
    padding: 0;
}
.loginContainer {
    background: url('../images/bgcopy2.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 1;
    text-align: center;
}
.login-form{
    margin-top: 167px;
}
.login-form .login-logo img {
    max-width: 100%;
    min-width: 100px;
    width: 250px;
    height: auto;
    position: relative;
    z-index: 1;
    transition: transform 0.4s ease;
    transform: scale(1);
}
.login-form .input-group .form-control {
    position: relative;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0px !important;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: border 0.4s ease;
    margin-top: 25px;
    width: 27%;
}
.login-form .input-group .form-control:focus {
    outline: 0;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.12);
}
.login-form .input-group .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
}
.loginIcons{
  font-size: 15px;
  color: #fff;
  position: absolute;
  margin-top: 37px;
}
.forgot-password{
  margin-top: 20px;
}
.forgot-password a{
  text-decoration: none;
  color: white;  
}
.login-form .go {
  text-align: center;
  margin-top: 40px;
}
.login-form .go .btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  min-width: 120px;
  padding: 7px;
  border-radius: 15px;
}
.login-form .go .btn:hover,
.login-form .go .btn:focus {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.12);
  border: 1px solid #ec115d;
} 

.generic-modal.warning .modal-footer {
  justify-content: center;
}
.generic-modal .profile-img {
  margin-left: auto !important;
}
.generic-modal textarea {
  width: 100%;
  border-radius: 5px;
  border-color: lightgray;
  margin-bottom: 30px;
  font-size: 12px;
  padding: 10px;
}
.generic-modal .close {
  position: absolute;
  right: 20px;
  color: #fff;
}
.generic-modal .modal-content {
  background: #1f1f1f;
  border: 1px solid #EC115D;
}
.generic-modal .modal-content .modal-footer {
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  align-items: inherit;
}
.generic-modal .modal-content .modal-footer .btn-primary {
  background: #EC115D;
  color: #fff;
  border: 1px solid #EC115D;
}
.generic-modal .modal-content .modal-footer .btn.full {
  background: transparent;
  width: 100%;
  border-radius: 0px;
  margin-top: -1px;
  padding: 12px;
  color: #fff;
  font-size: 12px;
}
.generic-modal .modal-content .modal-footer .btn.full:hover {
  background: #FE6D03;
}
.generic-modal .modal-content .form-group label {
  color: #fff;
}
.generic-modal .modal-content .form-group label.focus {
  color: #fff;
}
.generic-modal .modal-content .form-group .form-control {
  border: 1px solid rgba(255, 255, 255, 0.361);
  color: #fff;
}
.generic-modal .modal-content .form-group .form-control.focus {
  border: 1px solid #fff;
  color: #fff;
}
.generic-modal .modal-content .btn-secondary {
  font-weight: 500;
  background: #FE6D03;
  color: #fff;
  border: 1px solid #FE6D03;
}
.generic-modal .modal-content .input-group-prepend {
  margin-right: 0px;
}
.generic-modal .modal-content .input-group-prepend .dropdown-toggle {
  width: 100%;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.generic-modal .modal-content .input-group-append {
  margin-right: 0;
}
.generic-modal .modal-content .input-group-append .dropdown-toggle {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.generic-modal .modal-content lead {
  font-size: 11px;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.7;
  text-align: left;
  margin-bottom: 10px;
}
.generic-modal .modal-content .campaign-a {
  text-align: center;
  color: #fff;
  width: 100%;
  font-size: 2rem;
}
.generic-modal .modal-content .campaign-a i {
  transition: opacity 0.4s ease;
  opacity: 0.5;
  margin: auto 10px;
}
.generic-modal .modal-content .campaign-a i.allowed {
  font-weight: bold;
  opacity: 1;
}
.generic-modal .modal-content .campaign-a i:hover {
  cursor: pointer;
  opacity: 1;
}
.generic-modal .modal-body {
  color: #fff;
}
.generic-modal .modal-body p {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25em;
  margin-bottom: 10px;
  color: #fff;
}
.generic-modal .modal-body .input-group .dropdown-toggle {
  font-size: 12px;
  font-weight: 400;
}
.generic-modal .modal-body .input-group .form-control {
  font-weight: 500;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.361);
  border-radius: 4px;
  color: #b7b7b7;
  font-size: 12px;
}
.generic-modal .modal-body .name {
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
}
.generic-modal .modal-body .name label {
  font-size: 12px;
  color: #EC115D;
  font-weight: 500;
  margin-bottom: 0;
}
.generic-modal .modal-body .name .adn {
  font-size: 13px;
  margin-left: 5px;
  font-weight: 400;
}
.generic-modal .modal-body .btn-primary:hover {
  background: #fff;
  color: #EC115D;
}
.generic-modal .modal-header {
  border-bottom: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #EC115D;
  border-radius: 0px;
  margin-top: -1px;
}
.generic-modal .modal-header h5 {
  text-align: center;
  width: 100%;
  font-weight: 300;
  color: #fff;
}
.generic-modal .dropdown .btn {
  width: 96%;
  border-radius: 5px;
}
.generic-modal .dropdown .dropdown-menu.show {
  width: 100%;
}
.generic-modal .dropdown .dropdown-menu .dropdown-item {
  white-space: inherit;
}
.generic-modal#import_rs .modal-dialog {
  max-width: 800px;
}
.generic-modal#import_rs .modal-body {
  overflow-x: hidden;
  background: #353535;
  padding: 0;
}
.generic-modal#import_rs .modal-body .library_selections {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  max-width: 100%;
  position: relative;
}
.generic-modal#import_rs .modal-body .library_selections.show {
  transform: translateX(0%);
}
.generic-modal#import_rs .modal-body .library_selections .selection {
  max-width: 50%;
  width: 50%;
  text-align: center;
  transition: background 0.4s ease;
  position: relative;
  padding: 25px;
}
.generic-modal#import_rs .modal-body .library_selections .selection i {
  font-size: 2em;
  margin: 15px;
}
.generic-modal#import_rs .modal-body .library_selections .selection:hover {
  cursor: pointer;
}
.generic-modal#import_rs .modal-body .library_selections .selection:hover:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
}
.generic-modal#import_rs .modal-body .library_selections .selection:after {
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
  transition: all 0.4s ease;
}
.generic-modal#import_rs .modal-body .library_selections .selection.selected:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
}
.generic-modal#import_rs .modal-body .inline {
  display: inline-flex;
  width: 100%;
}
.generic-modal#import_rs .modal-body .library {
  background: #353535;
  padding: 25px;
  min-width: 100%;
  transition: all 1s cubic-bezier(0.39, 0.86, 0.76, 1);
  transform: translateX(-100%);
}
.generic-modal#import_rs .modal-body .library.selected {
  transform: translateX(0%);
  z-index: 1;
}
.generic-modal#import_rs .modal-body .library:nth-of-type(2) {
  transform: translateX(0%);
}
.generic-modal#import_rs .modal-body .library:nth-of-type(2).selected {
  transform: translateX(-100%);
  z-index: 1;
}
.generic-modal#import_rs .modal-body .library .cl-container {
  display: flex;
  justify-content: start;
  padding: 25px 0;
  padding-bottom: 15px;
}
.generic-modal#import_rs .modal-body .library .cl-container .client {
  text-align: center;
  position: relative;
  margin: auto 5px;
  border: 1px solid transparent;
  border-radius: 99em;
  padding: 4px;
  transition: all 0.4s ease;
}
.generic-modal#import_rs .modal-body .library .cl-container .client.selected {
  border: 1px solid #EC115D;
  border-radius: 99em;
  padding: 4px;
  box-shadow: 2px 2px 20px 0px rgba(255, 51, 102, 0.62);
}
.generic-modal#import_rs .modal-body .library .cl-container .client:hover {
  cursor: pointer;
  border: 1px solid #EC115D;
  border-radius: 99em;
  padding: 4px;
  box-shadow: 2px 2px 20px 0px rgba(255, 51, 102, 0.62);
}
.generic-modal#import_rs .modal-body .library .cl-container .client img {
  border: 1px solid #fff;
  max-width: 70px;
  border-radius: 99em;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.generic-modal#import_rs .modal-body .library .cl-container .client .name {
  position: absolute;
  display: none;
  font-size: 12px;
}
.generic-modal#import_rs .modal-body .library .rule-set-container {
  position: relative;
  max-height: 300px;
  padding: 15px;
  overflow: auto;
}
.generic-modal#import_rs .modal-body .library .rule-set-container::-webkit-scrollbar-thumb {
  background: rgba(179, 179, 179, 0);
  transition: background 0.4s ease;
}
.generic-modal#import_rs .modal-body .library .rule-set-container:hover::-webkit-scrollbar-thumb {
  background: rgba(179, 179, 179, 0.2);
}
.generic-modal#import_rs .modal-body .library .rule-set-container .rs_count {
  margin: 10px;
}
.generic-modal#import_rs .modal-body .library .rule-set-container .rs_count .count {
  position: relative;
  margin-left: 5px;
}
.generic-modal#import_rs .modal-body .library .rule-set-container .rs {
  border: 1px solid rgba(255, 255, 255, 0.259);
  margin: 15px auto;
  border-radius: 4px;
  display: block;
  padding: 10px;
  font-size: 12px;
  position: relative;
}
.generic-modal#import_rs .modal-body .library .rule-set-container .rs .checkbox {
  position: relative;
  margin-left: auto;
  float: right;
  right: 0px;
}
.generic-modal#import_rs .modal-body .library .rule-set-container .rs.checked {
  border: 1px solid #EC115D;
}
.generic-modal#import_rs .modal-body .library .rule-set-container .rs.checked:after {
  content: '';
  width: 100%;
}
.generic-modal#import_rs .modal-body .library .rule-set-container .rs:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  background: rgba(255, 51, 102, 0.25);
  width: 0%;
  transition: width 0.5s cubic-bezier(0.52, 0.21, 0.93, 0.73);
  z-index: -1;
}
.generic-modal#import_rs .modal-footer {
  justify-content: center;
}

.notification-container .p-notification.show {
  right: 20px;
}

#wizardModal .modal-dialog {
  max-width: 700px;
}

#new_price_tier_modal .modal-header {
  background: #496e79;
}

.generic-modal .modal-content {
  background: #1f1f1f;
  border: 1px solid #EC115D;
}

.generic-modal .modal-body {
  color: #fff;
}

.modal-content.wizardM .modal-header .close {
  position: absolute;
  right: 13px;
  top: 7px;
  color: #fff;
}

.hide-footer footer.modal-footer {
  display: none;
}

@keyframes fadein {
  0% {
    opacity: 0;
    top: 45px;
    position: relative;
  }
  100% {
    opacity: 1;
    top: 0px;
    position: relative;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    top: 45px;
    position: relative;
  }
  100% {
    opacity: 1;
    top: 0px;
    position: relative;
  }
}
