*{
    margin: 0;
    padding: 0;
}
.loginContainer{
  background: url('../images/bgcopy2.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  text-align: center;
}
.login-form{
  width: 40%;
  margin: auto;
  min-width: 300px;
  max-width: 400px;
  position: relative;
  margin-top: 10%;
}
.login-form .login-logo {
  padding: 15px;
  text-align: center;
}
.login-form .login-logo img{
  max-width: 100%;
  min-width: 100px;
  width: 250px;
  height: auto;
  position: relative;
  z-index: 1;
  transition: transform 0.4s ease;
  transform: scale(1);
}
.login-form .input-group{
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
}
.login-form .input-group .form-control{
  position: relative;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding-left: 25px;
  padding-top: 10px;
padding-bottom: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-transition: border 0.4s ease;
  transition: border 0.4s ease;
  border-radius: 0px!important;
}
.login-form .input-group .form-control:focus{
  outline: 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.12);
}
.login-form .input-group .form-control::placeholder{
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
}
.login-form .input-group .loginIcons{
  font-size: 15px;
  color: #fff;
  position: absolute;
  top: 12px;
}
.login-form .forgot-password{
  margin-top: 20px;
}
.login-form .forgot-password a{
  text-decoration: none;
  color: white;  
}
.login-form .forgot-password a:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #ec115d;
}
.login-form .go{
  text-align: center;
  margin-top: 40px;
}
.login-form .go .btn{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  min-width: 120px;
  padding: 7px;
  border-radius: 15px;
}
.login-form .go .btn:hover{
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.12);
  border: 1px solid #ec115d;
} 
.login-form .go .btn:focus{
  outline: none;
  background-color: #EC115D;
  border: 1px solid #EC115D;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.12);
}