.timeline-step{
    margin-top: 14px;
    min-height: 500px;
}
.campaign-type{
    position: relative;
    text-align: center;
}
.campaign-type .list-types{
    text-align: center;
    display:inline-block;
    margin-top: 5%;
    position: relative;
}
.campaign-type .list-types .types{
    transition: all 0.4s ease;
    text-align: center;
    position: relative;
    float: left;
    margin: 25px 44px;
}
.campaign-type .list-types .types .title{
    color: #b7b7b7;
    margin-top: 10px;
    background: transparent;
    border-radius: 50px;
    padding: 3px;
    font-size: 12px;
    opacity: 0.2;
}
.campaign-type .list-types .types .type-icon{
    position: relative;
    transition: all 0.4s ease;
    width: 140px;
    height: 140px;
    overflow: visible;
    border: 1px solid rgba(97, 97, 97, 0.22);
    border-radius: 99em;
    padding: 30px 30px;
    color: rgba(97, 97, 97, 0.22);
    transform: scale(1);
    transform: rotate(0deg);
    background: transparent;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.12);
}
.campaign-type .list-types .types .type-icon:hover{
    cursor: pointer;
    font-size: 70px;
    transform: rotate(360deg);
    transform-origin: 50% 50%;
    cursor: pointer;
    box-shadow: none;
    padding: 40px;
    color: #fff;
    background: linear-gradient(45deg, #EC115D 0%, #FE6D03 100%);
    border: 1px solid #EC115D;
}
.campaign-type .list-types .types .selected{
    font-size: 70px;
    transform: rotate(360deg);
    transform-origin: 50% 50%;
    padding: 30px 30px;
    cursor: pointer;
    box-shadow: none;
    color: #fff;
    background: linear-gradient(45deg, #EC115D 0%, #FE6D03 100%);
    border: 1px solid #EC115D;
    animation: pulse 2s infinite;
}